@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div {
  height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardCerveza:hover > div > svg {
  color: #ac3051 !important;
}

.cardCerveza:hover > div > button {
  background-color: #ac3051 !important;
  border-top: 0;
}
